<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet" />
    <title>To-Do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet" />
    
  </head>
  <body style="background-color:powderblue;">
    <div class="grid grid-cols-6" , style="color: rgb(28, 80, 80);">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>
        <br> 
        <p class="py-2 font-semibold text-gray-600 bg-green-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2", style="font-size:2vw">Welcome to the To-Do Manager</p><br>
        <p class="py-2 font-semibold text-gray-600 font-medium", style="font-size:2vw">New User?<a href="/signup" class="text-green-600 bg-green-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2">Sign-up now</a></p><br>
        <p class="py-2 font-semibold text-gray-600", style="font-size:2vw">Existing User? <a href="/login" class="text-green-600 bg-green-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2">Sign-in</a></p>
      </div>
    </div>
  </body>
</html>
